.root {
        background-color_: rgb(48, 48, 48);
        dark-color: rgb(42, 42, 42);
        element-color: rgb(64, 64, 64);
        hover-element-color: rgb(72, 72, 72);
        light-element-color: rgb(81, 81, 81);
        active-element-color: rgb(92, 92, 92);

        text-color: rgb(232, 232, 232);
}

QWidget {
    background-color: rgb(48, 48, 48);
    color: rgb(232, 232, 232);
}

QMainWindow::separator {
    background-color: rgb(42, 42, 42);
}

QMenuBar {
    background-color: rgb(64, 64, 64);
    padding: 5%;
    color: rgb(232, 232, 232);
    font-size: 16px;
    font-weight: bold;
}

QMenuBar::item {
    padding: 1px 4px;
    border-radius: 4px;
    background-color: rgb(64, 64, 64);
}

QMenuBar::item::hover {
    background-color: rgb(72, 72, 72);
}

QMenuBar::item:selected {
    background: #a8a8a8;
}

QMenuBar::item:pressed {
    background: #888888;
}

QMenu {
    background-color: rgb(64, 64, 64);
    color: rgb(232, 232, 232);
    font-size: 14px;
    font-weight: bold;
}
QMenu::item::selected {
    background-color: rgb(72, 72, 72);
    color: rgb(232, 232, 232);
}

/*QDockWidget {
    background: rgb(42, 42, 42);
    border:none;
}

QDockWidget > QWidget {

}*/


/*QPushButton#side_tool_button {
    background-color: rgb(64, 64, 64);
}

QPushButton#side_tool_button:pressed {
    background-color: rgb(92, 92, 92);
}

QPushButton#side_tool_button:flat {
    border: none;
}

QPushButton#side_tool_button:default {
    border-color: navy;
}*/

QPushButton#side_tool_button:hover {
    background-color: rgb(72, 72, 72);
}

QToolBar#side_toolbar {
    padding: 2% 5% 2%;
}

QDoubleSpinBox::up-button {
    border: none;
    border-radius: 2px;
    background-color: rgb(48, 48, 48);
}
QDoubleSpinBox::up-button:hover {
    border: none;
    background-color: rgb(72, 72, 72)
}
QDoubleSpinBox::up-button:pressed {
    border: none;
    background-color: rgb(92, 92, 92) 
}
QDoubleSpinBox::up-arrow {
    image: url(:/icons/qspinbox_button_down.png);
}
QDoubleSpinBox::down-arrow {
    image: url(:/icons/qspinbox_button_up.png);
}
QDoubleSpinBox::down-button {
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: rgb(48, 48, 48);
}
QDoubleSpinBox::down-button:hover {
    border: none;
    background-color: rgb(72, 72, 72)
}
QDoubleSpinBox::down-button:pressed {
    border: none;
    background-color: rgb(92, 92, 92)
}

QDoubleSpinBox#vector_field_x {
    background-color: qlineargradient(x1:0, y1:1, x2:1, y2:1,
    stop:0 red, stop: 0.09 red, stop: 0.10 rgb(32, 32, 32), stop:1 rgb(32, 32, 32)); /*rgb(42, 42, 42);*/
    color: rgb(242, 242, 242);
    border-radius: 2px;
    font-size: 12px;
    padding: 2px 2px 2px 8px;
}

QDoubleSpinBox#vector_field_y {
    background-color: qlineargradient(x1:0, y1:1, x2:1, y2:1,
    stop:0 green, stop: 0.09 green, stop: 0.10 rgb(32, 32, 32), stop:1 rgb(32, 32, 32)); /*rgb(42, 42, 42);*/
    color: rgb(242, 242, 242);
    border-radius: 2px;
    font-size: 12px;
    padding: 2px 2px 2px 8px;
}

QDoubleSpinBox#vector_field_z {
    background-color: qlineargradient(x1:0, y1:1, x2:1, y2:1,
    stop:0 blue, stop: 0.09 blue, stop: 0.10 rgb(32, 32, 32), stop:1 rgb(32, 32, 32)); /*rgb(42, 42, 42);*/
    color: rgb(242, 242, 242);
    border-radius: 2px;
    padding: 2px 2px 2px 8px;
}

QWidget#inspector_component {
    border-radius: 4px;
    background-color: rgb(42, 42, 42);
}

QDockWidget > QWidget {
    background-color: rgb(48, 48, 48);
}

QWidget#inspector_component_bar {
    background-color: rgb(32, 32, 32);
    border-radius: 4px 4px 0px 0px;
}

QWidget#inspector_component_bar > QLabel {
    background-color: transparent;
    font-size: 12px;
}

QScrollBar:vertical
{
    background-color: rgb(32, 32, 32);
    width: 20px;
    margin: 30px 3px 30px 3px;
    border: 1px transparent #2A2929;
    border-radius: 4px;
}

QScrollBar::handle:vertical
{
    background-color: rgb(92, 92, 92);
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    background: none;

}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QScrollBar::sub-line:vertical
{
    border-image: url(:/icons/qspinbox_button_down.png);
    background-color: transparent;
    margin: 3px 1px 3px 0px;
    height: 20px;
    width: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    border-radius: 4px;
}

QScrollBar::add-line:vertical
{
    border-image: url(:/icons/qspinbox_button_up.png);
    background-color: transparent;
    margin: 3px 1px 3px 0px;
    height: 20px;
    width: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
{
    border-image: url(:/icons/qspinbox_button_up_on.png);
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
{
    border-image: url(:/icons/qspinbox_button_down_on.png);
}
